SECRET_KEY=djv3w0ib^21$+f**z9!8o9^*9u4u_+9*j8tqlh5v
ALLOWED_HOSTS=domain.com,anotherdomain.com
DATABASE_URL=postgres://postgres:2345@localhost:5432/postgres
AWS_ACCESS_KEY_ID=AKIAT54LX4
AWS_SECRET_ACCESS_KEY=XRn/lvkoT77abQGACb+fHJqA
AWS_STORAGE_BUCKET_NAME=AWS_STORAGE_BUCKET_NAME
VERIFY_URL=VERIFY_URL
DEBUG=True
REDIS_URL=rediss://:p8e417e04a7e1471ca8ea0f281101c403d@ec2-34-192-27-187.compute-1.amazonaws.com:15720/1?ssl_cert_reqs=CERT_NONE

SES_AWS_ACCESS_KEY_ID=AKIA5STUEEGW
SES_AWS_SECRET_ACCESS_KEY=2Rvu+RYp0WFRyGkSleGXZ